/* Estilo general del logo */
.logo {
    max-height: 60px;
}

/* Íconos del header (carrito, favoritos, usuario) */
.icons {
    cursor: pointer;
    transition: color 0.3s ease;
}

.buscar:hover
{
    color: #ff9153;
}
.carrito:hover
{
    color: #ff9153;
}
.favorito{
    color: #000000;
}
.favorito:hover{
    color: #ff9153;
}
.perfil{
    color: #000000;
}
.perfil:hover{
    color: #ff9153;
}

/* Menú inferior de navegación */
.menu a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #ff9153;
}

.search-input {
    width: 0;
    opacity: 0;
    transition: width 0.4s ease, opacity 0.4s ease;
    position: absolute;
    left: 60px; /* Más separación del ícono */
    top: 50%;
    transform: translateY(-50%);
    height: 35px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent; /* Fondo transparente */
    padding-left: 10px;
    font-size: 14px;
    color: #222;  
    outline: none;
    z-index: 10;
}

.search-input.expand {
    width: 200px;
    opacity: 1;
    background-color: transparent; 
    border-radius: 0;
    box-shadow: none;
}

.search-input::placeholder {
    color: #555;
}

.search-input:focus {
    border-bottom: 1px solid #ff9153; 
    box-shadow: none; 
  }
  